.slide {
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 30px;
}

.control {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    transition: opacity 150ms ease;
    opacity: 0;

}

.root:hover .control {
    opacity: 1;
    background-color: rgba(236, 236, 236, 0.7);
}

.indicator {
    outline: 4px solid #424242;
    outline-offset: -2px;
    width: rem(12px);
    height: rem(4px);
    transition: width 250ms ease;

    &[data-active] {
        width: rem(40px);
    }
}