.slide {
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 30px;
}

.control {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    transition: opacity 150ms ease;
    opacity: 0;

}

.root:hover .control {
    opacity: 1;
    background-color: rgba(236, 236, 236, 0.7);
}