@import './tailwind.css';

* {
    padding: 0;
    margin: 0;
}

header {
    background-color: transparent;
    background-image: url('/images/bkPage-1.jpg');
}

/* NavBar */
.active-item {
    color: purple;
    font-weight: 600;
}

.item {
    font-weight: 400;
}

.Navbar {
    background-image: none;
    background-position: top;
    background-color: transparent;
    background-repeat: no-repeat;

}

/* page Home */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94vh; /* ความสูงจะเท่ากับ 100% ของ viewport height */
}

.content {
    display: grid;
    justify-items: center;
    grid-row: 2;
}

.BG-page123 {
    background-image: url('/images/bkPage-1.jpg');
    background-size:auto;
    height: inherit;
    background-attachment: fixed;
}

body {
    height: 100%;
    width: 100%;
    background-image: url('/images/bkPage-1.jpg');
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom,
            transparent,
            rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.bgsearch {
    background-image: url('/images/bgPageSearch.jpg');
    background-size:auto;
    height: inherit;
    background-attachment: fixed;
}

.cdphoto {
    height: inherit;
    border-radius: 2%;
}

/* main */

/* src/recommend/Recommend.css */
/* src/recommend/Recommend.css */
/* src/recommend/Recommend.css */
.Recommend {
    text-align: center;
    max-width: 1000px; /* Adjust the max-width to your desired value */
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .activity-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    margin-top: 20px;
  }
  
  .activity-card {
    position: relative;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f4f4f4;
    overflow: hidden;
  }
  
  .activity-card img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This property ensures that the image maintains its aspect ratio */
  }
  
  .activity-card:hover {
    background-color: #e0e0e0;
  }
  
  .bg{
    background-image: url('/images/bkPage-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  