@import 'tailwind.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@400;600&display=swap');

* {
  font-family: 'Noto Sans Thai', sans-serif;
  font-weight: 400 ;
  padding: 0;
  margin: 0;
}

.test{
  font-family: 'Noto Sans Thai', sans-serif;
}

/* mantine */
header {
  background-color: transparent;
  background-image: url('/images/bkPage-1.jpg');
}

/* NavBar */
.item {
  font-weight: 400;
}

.Navbar {
  background-image: none;
  background-position: top;
  background-color: transparent;
  background-repeat: no-repeat;

}

/* page Home */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 94vh;
  /* ความสูงจะเท่ากับ 100% ของ viewport height */
}

.content {
  display: grid;
  justify-items: center;
  grid-row: 2;
}

/* bg */
.BG-page123 {
  background-image: url('/images/bkPage-1.jpg');
  background-size: auto;
  height: inherit;
  background-attachment: fixed;
}

.bgsearch {
  background-image: url('/images/bgPageSearch.jpg');
  background-size: auto;
  height: inherit;
  background-attachment: fixed;
}

body {
  height: 100%;
  width: 100%;
  background-image: url('/images/bkPage-1.jpg');
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.cdphoto {
  height: inherit;
  border-radius: 2%;
}

/* src/recommend/Recommend.css */
.bg {
  background-image: url('/images/bkPage-1.jpg');
  background-size: cover;
  height: inherit;
  background-attachment: fixed;
}

.recommend {
  margin-top: 30px;
  margin-bottom: 0px;
}

.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.buttonnoti {
  padding: 1.3em 3em;
  text-transform: uppercase;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.buttonnoti:hover {
  background-color: #006fff;
  border:#ffffff 0.2em solid;
  box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.4);
  color: #ffffff;
  transform: translateY(-5px);
}

.buttonnoti:active {
  transform: translateY(-1px);
}
.cardnoti {
  width: full;
  height: full;
  background: rgb(255, 255, 255);
  border-radius: 30px;
  box-shadow: 0.3em 0.3em 0.7em #00000015;
  transition: all 0.3s ease 0s;
  border: rgb(250, 250, 250) 0.2em solid;
  cursor: pointer;
  outline: none;
  }
  
.cardnoti:hover {
border: #006fff 0.2em solid;
box-shadow: 0px 10px 20px rgba(46, 95, 229, 0.4);
transform: translateY(-5px);
}
.gonoti:hover {
  border:#006fff 0.2em solid;
  background-color: #ffffff;
  color: black;
  border-radius: 20px;
}
